:root{
  --black: #131313;
  --blue: #32b9cd;
  --yellow: #e3b062;
}
body{
  margin: 0;
  background-color: var(--black);
}
.header{
  color: var(--blue);
  border-bottom: 3px solid var(--blue);
  font-family: monospace;
}
.container{
  margin: auto;
  width: 80%;

}
.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar{
  width: 600px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  color: var(--yellow);
}
.agora{
  font-weight: 1000;
}